.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1 / 1; 
    max-width: 250px; 
    margin: auto; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

.btn {
    margin-top: auto; 
}